<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Registerer | Login</title>
  </head>

  <body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card" style="width: min(35rem, 100%); height: auto;">

        {{#if message}}
        <span>{{message}}</span>
        {{/if}}

        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <form id="loginForm" action="/login" method="POST">
            <fieldset>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control isValid" id="email" name="email" aria-describedby="email"
                  placeholder="Enter email" value="prince@gmail.com" />
              </div>


              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group mb-3">
                  <input type="password" class="form-control" name="password" id="password" aria-describedby="password"
                    placeholder="Enter password" value="password" />
                  <span id="showPassword" class="input-group-text"><i role="button" class="bi bi-eye"></i></span>
                </div>
              </div>

              <button type="submit" class="btn btn-primary d-block ms-auto">Login</button>
            </fieldset>
          </form>
          <p class="text-center">No account yet? <a href="http://localhost:8000/register">Register here</a></a></h3>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const ENDPOINT = "http://localhost:8000";
      const loginForm = document.querySelector("#loginForm");
      const showPassword = document.querySelector("#showPassword");
      {
        {
          !--loginForm.addEventListener('submit', async function (e) {
            e.preventDefault();
            const loginPayload = new FormData(this);

            const result = await fetch(`${ENDPOINT}/login`, {
              method: 'POST',
              mode: 'same-origin',
              body: loginPayload
            });

            console.log(result);
            return result;
          }); --}
      }

      showPassword.addEventListener('click', function () {
        console.log('click');
        const passwordField = document.querySelector('#password');
        if (passwordField.type === "password") {
          passwordField.type = 'text';
          showPassword.children[0].classList.remove('bi-eye');
          showPassword.children[0].classList.add('bi-eye-fill');
        } else {
          passwordField.type = 'password';
          showPassword.children[0].classList.remove('bi-eye-fill');
          showPassword.children[0].classList.add('bi-eye');
        }
      })
    </script>
  </body>

</html>