<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <title>Registerer | Login</title>
  </head>

  <body
    class="min-h-screen flex justify-center items-center bg-slate-700 text-white"
  >
    <div class="">

      {{#if message}}
        <div class={{""}} role="alert">
          {{message}}
        </div>
      {{/if}}

      <div class="text-5xl font-medium mb-4">
        Login
      </div>

      <div class="border rounded-lg p-4 bg-">
        <form
          class="w-[30rem]"
          action="http://localhost:8000/login"
          method="POST"
        >
          <fieldset>

            <div class="">
              <label for="email" class="block mb-2">Email address</label>
              <input
                type="email"
                class="border mb-2 px-2 py-1 w-full text-black"
                id="email"
                name="email"
                aria-describedby="email"
                placeholder="Enter email"
                value="annieneshreen@email.com"
              />
            </div>

            <div class="">
              <label for="password" class="block mb-2">Password</label>
              <input
                type="password"
                class="border mb-2 px-2 py-1 w-full text-black"
                id="password"
                name="password"
                aria-describedby="password"
                placeholder="Enter password"
                value="password"
              />
            </div>

            <button
              type="submit"
              class="block border px-4 py-2 rounded-md ms-auto bg-state-500"
            >Login</button>
          </fieldset>
        </form>
        <p class="text-center">No account yet?
          <a href="http://localhost:8000/register">Register here</a></p>
      </div>
    </div>

    <script>
      const passwordFields = document.querySelectorAll("[data-show-password]");
      passwordFields.forEach((passwordField) => {
      passwordField.addEventListener('click', function () { if
      (passwordField.type === "password") { passwordField.type = 'text';
      showPassword.children[0].classList.remove('bi-eye');
      showPassword.children[0].classList.add('bi-eye-fill'); } else {
      passwordField.type = 'password';
      showPassword.children[0].classList.remove('bi-eye-fill');
      showPassword.children[0].classList.add('bi-eye'); } }); })

    </script>
  </body>

</html>