<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./static/css/style.css">
		<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
		<title>Register Account | Register</title>
	</head>

	<body class="min-w-screen flex justify-center items-center">
		<div class="">

			{{#if message}}
			<div class="" role="alert">
				{{message}}
			</div>
			{{/if}}

			<h1 class="text-4xl font-medium mb-4">Register</h1>

			<div class="">
				<form id="registerForm" accept="/register" method="POST">
					<fieldset>
						<div class="">
							<label for="firstName" class="">First name</label>
							<input type="firstName" class="" id="firstName" name="firstName" aria-describedby="firstName"
								placeholder="Enter first name" />
						</div>

						<div class="">
							<label for="lastName" class="">Last name</label>
							<input type="lastName" class="" id="lastName" name="lastName" aria-describedby="lastName"
								placeholder="Enter last name" />
						</div>

						<div class="">
							<label for="email" class="">Email address</label>
							<input type="email" class="" id="email" name="email" aria-describedby="email" placeholder="Enter email" />
						</div>

						<div class="">
							<label for="password" class="">Password</label>
							<div class="">
								<input type="password" class="" name="password" id="password" aria-describedby="password"
									placeholder="Create password" />
								<span data-show-password class=""><i class='bx bx-show'></i></span>
							</div>
						</div>

						<div class="">
							<label for="confirmPassword" class="">Confirm Password</label>
							<div class="">
								<input type="password" class="" name="confirmPassword" id="confirmPassword" aria-describedby="password"
									placeholder="Confirm password" />
								<span data-show-password class=""><i class='bx bx-show'></i></span>
							</div>
						</div>

						<button type="submit" class="">Register</button>
					</fieldset>
					<p class="">Already have an account? <a href="http://localhost:8000/login">Login</a></a></h3>
				</form>
			</div>

			<div class="">
				<Button id="generateFakeUserBtn" type="button" class="">Generate Fake User</Button>
			</div>
		</div>

		<script>
			const FAKE_USER_ENDPOINT = "http://localhost:8000/api/fakeuser";
			const generateFakeUserBtn = document.querySelector("#generateFakeUserBtn");

			generateFakeUserBtn.addEventListener("click", async () => {
				const response = await fetch(FAKE_USER_ENDPOINT);

				const {
					firstName,
					lastName,
					password
				} = await response.json();

				document.querySelector("#firstName").value = firstName;
				document.querySelector("#lastName").value = lastName;
				document.querySelector("#email").value = `${(firstName + lastName).toLowerCase()}@gmail.com`;
				document.querySelector("#password").value = password;
				document.querySelector("#confirmPassword").value = password;
			});

			const showPasswordButton = document.querySelectorAll('[data-show-password]')
		</script>firstName
	</body>

</html>